@model IEnumerable<tbl_Table>

@{
    ViewData["Title"] = "Table";
}

<div class="mt-4">
    <div class="d-flex justify-content-between align-items-center mb-5">
        <h3 class="mb-0">Tables</h3>
        <button class="btn btn-primary"
                onclick="openModal('Add Table', '/PointOfSale/TableAddEdit','md')">
            
            <i class="bi bi-plus-circle me-1"></i> Add Table
        </button>

    </div>

    <table id="categoryTable" class="table table-hover mt-5 dt">
        <thead>
            <tr>
                <th>ID</th>
                <th>Table Number</th>

                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Tid</td>
                        <td>@item.TName</td>
                        <td>
                            <button class="btn btn-sm btn-info"
                                    onclick="openModal('Edit Table', '/PointOfSale/TableAddEdit?id=@item.Tid', 'md')">
                                Edit
                            </button>

                            <button class="btn btn-sm btn-danger" onclick="showConfirm({
                                    title: 'Delete Table',
                                    message: 'Are you sure you want to delete this table?',
                                    confirmText: 'Delete',
                                    cancelText: 'Cancel',
                                    url: '/PointOfSale/DeleteTable?id=@item.Tid'
                                })">
                                Delete
                            </button>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>




